body
{
		margin: 0;  
        padding: 20px;
		 background-color: #0e584a;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		color: lightgoldenrodyellow;
        text-align: center;
		
}
.create{  
    width: 300px; 
  
  
    margin: 20 0 0 300px;  
    padding: 70px;  
    margin: auto;
    background: rgb(55,129,47);  
    border-radius: 30px ;  
      
} 
.submit{
    text-align: center;
    border-radius: 50px;
    background-color:#23463f ;
    text-decoration: none;
    padding: 10px;
    color:turquoise;
    text-align: center;
}
