body{
    background-color: rgb(7, 133, 133);
    color:white;
}
    .course{
        text-align: center;
    }
    .main-content {
    
    background-color: #1b9236;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 80px;
    border-top: #1e6b30;
    }
    .pay-now-btn {
    cursor: pointer;
    color: #fff;
    height: 50px;
    width: 290px;
    border: none;
    margin: 5px 30px;
    background-color: rgb(7, 102, 94);
    position: relative;
    border-radius: 30px;
    }
    
    .card-details {
    background: rgb(8, 49, 14);
    color: rgb(225, 223, 233);
    margin: 10px 30px;
    padding: 10px;
    
    /* border-bottom-left-radius: 80px; */
    border-radius: 30px;
    }
    
    .card-details p {
    font-size: 15px;
    border-radius: 30px;
    }
    
    .card-details label {
    font-size: 15px;
    line-height: 35px;
    border-radius: 30px;
    }
    
    .submit-now-btn {
    cursor: pointer;
    color: #fff;
    height: 30px;
    width: 240px;
    border: none;
    border-radius: 30px;
    margin: 5px 30px;
    background-color: rgb(3, 112, 98);
    }
    